/**
 * @name DarkButTransparent
 * @version 0.0.1
 * @description Just a simple theme to have darkmode but transparent
 * 
 * @website http://twitter.com/Sk3tch12E
 */

.theme-dark{
    --background-primary: rgba(54, 57, 63, .3);/*background of main body*/
    --background-secondary: rgba(47, 49, 54, .3);/*background of channels area*/
    /*--background-tertiary: rgba(32, 34, 37, (--Transparency));full windows background*/
    --background-accent: rgba(79, 84, 92, 1);/*Colour behind server icons like boost or people streaming*/
    --background-floating: rgba(24, 25, 28, .9); /*Hover menus*/
    --background-modifier-hover: rgba(48,48,50,.9);/*colour when hovering over button*/
    --background-modifier-active: rgba(0,0,0,.5);/*Colour when clicking something*/
    --background-modifier-selected: rgba(53, 57, 61,.5);/*Colour behind selected server*/
    --background-modifier-accent: transparent;/*Line above servers list*/
    --channeltextarea-background: rgba(64,68,75,.3);/*Colour of text box where you type*/
    --activity-card-background: rgba(200,0,0,1); /*Seems to not work*/
    --display: none;
    /*--deprecated-panel-background: rgba(0,100,0,1);
    --deprecated-card-bg: rgba(0,100,0,1);
    --deprecated-card-editable-bg: rgba(0,100,0,1);
    --deprecated-store-bg: rgba(0,100,0,1);*/
}

/*Username panel*/
.panels-j1Uci_{
  background: rgba(47, 49, 54, .3); /*47, 49, 54, .3  rgba(100, 100, 100,.1)*/
}
/*Drag Fix*/
.title-wrap > *, .search-bar > *, .title > *:not([class="channel-name"]), .tab-bar > *, .bd-pfbtn, .btn-close, button, .header-toolbar, .topic > *, [class*="guild-settings"] [class^="scrollerWrap"] > [class^="scroller-"] > * > *, .side-2nYO0F
{
  -webkit-app-region: no-drag;
}

.title-wrap,
.layer:not([style]) .search-bar,
.layer:not([style]) .title:first-of-type,
.layer:not([style]) .friends-header,
.layer:not([style]) .topic
{
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.title-wrap:before{
  content: "";
  -webkit-app-region: no-drag;
  cursor: ns-resize;
  height: 6px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*remove strange line next to message box*/
.form-2fGMdU::before {
  display: none;
}

/*collapse channels
.sidebar-2K8pFh{
  width: 0px;
  transition: 0.6s ease;
  position: fixed;
  height: calc(100% - 47.988px);
  z-index: 1;
  bottom: 0px;
}
.wrapper-3NnKdC:hover+.base-3dtUhz>.content-98HsJk>.sidebar-2K8pFh{
  width:240px;
}
.sidebar-2K8pFh:hover{
  width:240px;
}*/
